

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class =" col-md-1 picture"-> </div>
                <div class="intro-heading ">Ivan Quevedo </div>
                <div class="intro-lead-in">Hi,thanks for visit my site.</div>
                <a href="#services" class="page-scroll col-md-1 col-md-push-5 btn btn-primary"> More +</a>
            </div> 
        </div>
    </header>

    <!-- Services Section -->
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Profile</h2>
                    <p class="section-subheading text-muted"> Hi! I'm intrested in web and mobile developments. Right now I'm using Ruby on Rails to develop my expertice as a full stack developer. I have experience as a PM and Scrum master handeling infrastructure and SW development projects. If you will like to read more about me download my  <%= link_to 'RESUME', download_pdf_path %>.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">I like project that are related to E-commerce and payment methods.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web & Mobile Apps</h4>
                    <p class="text-muted">Looking to be part of a creative product managment team.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tailor SW solutions</h4>
                    <p class="text-muted">Help people sketch ideas and found the best solution for them.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Projects in wich I participated </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/Compranet.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Compranet</h4>
                        <p class="text-muted">Mexican Federal Teneders</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/Ine.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Compra INE</h4>
                        <p class="text-muted">Tenders for National Electoral Institute</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/pronapred.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>PRONAPRED</h4>
                        <p class="text-muted">Budget control crime-prevention Mexico</p>
                    </div>
                </div>
                 <div class="col-md-12 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/android.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>PRONAPRED APP</h4>
                        <p class="text-muted"> Supervision of Fed.progams Mexico Gov.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> Work-TimeLine</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014 – March 2015</h4>
                                    <h4 class="subheading">OPI - Project Manager</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked as a IT Project Manager being in contact with the client to get the requierments as well be part of the IT team to create the WBS for an agile developement.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2012 – August 2014</h4>
                                    <h4 class="subheading">Implementation PM and Delivery Manager - Bravo Solution</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Worked as a PM with international team being the conection with the IT and costumer, performing duites as implement modules and implement full solutions. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2012 - April 2012</h4>
                                    <h4 class="subheading">Dupont - Information Security Support </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Revision of systems policies on the use of different platforms in Mexico and South America likewise providing support to different platforms for internal costumers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2011 - January 2014</h4>
                                    <h4 class="subheading">Co-founder SmartApps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Develop a company that produced mobile applications where I was in charge of planning the architecture and product management. As well I had Sales and Pre-Sales duties.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The 
                                    <br>beginning
                                    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

            
   
    <!-- Contact Section -->
   

    <footer class="row bg-black">
        
            <div>
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Ivan Quevedo 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/ivanquevedo"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/ivan.quevedo.92"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/ivanquevedog"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://github.com/Ivanox12"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li> Mobile: + 52 1 55-3731-3162</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    
    <!-- Portfolio Modal Compranet -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2> Compranet</h2>
                            <p class="item-intro text-muted">E-procurement for Mexican Government</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/Compranet.png" alt="">
                            <p><a href="https://compranet.funcionpublica.gob.mx/web/login.html">What is Compranet</a> CompraNet is the system of Mexican government of information online procurement,leasing and services of the Federal Public Administration. This transaction system operation fosters recruitment procedures with transparency and agility and also allows tracking them since the publication of the call to the corresponding fault.</p>
                            <p>You can visit this site to dimension the project size <a href="http://www.keepeek.com/Digital-Asset-Management/oecd/governance/oecd-e-government-studies-mexico-2005_9789264010727-en#page41">here</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal INE -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>E-procurement</h2>
                            <p class="item-intro text-muted">National Elections Institute</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/Ine.png" alt="">
                            <p><a href="http://www.ine.mx">Compras INE</a> Is a solution based as Saas. In this project I handle Administration responsabilites as well technical. On the main duites that I handel was:
                            </p>
                                <ul class ="text-left">
                                    <li>Creation of the Road map of the strategy of delivery of the solution</li>
                                    <li>Installation of Oracle Linux on servers for backup of databases</li>
                                    <li>Keep a tight control of weekly, monthly and annual Milestones of the project with the client</li>
                                    <li>Negotiations with clients with IT and Operation areas</li>
                                    <li>Configure the platform for clients needs </li>
                                    <li>Coordinate teams in Italy and USA </li>
                                </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio PRONAPRED -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>PROAPRED</h2>
                            <p class="item-intro text-muted">National program for the prevention of crime</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/pronapred.png" alt="">
                            <p>System for tracking program expenses and benefits. This is a project that belogs to the Ministry of Mexico, in which they can view the plans of the diferent states of Mexico the programs suggested for privent crime.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://nosmuevelapaz.org//">PRONAPRED.</a> </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>PRONAPRED APP</h2>
                            <p class="item-intro text-muted">Application for verification.</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/android.png" alt="">
                            <p>This App was devloped to complement the PRONAPRED to feed the system of the Mexican Federal Goverment. The main propuse is to monitor all the activites of the federal government. I was in charge of the </p>
                            <p>You can can check the application <a href="https://play.google.com/store/apps/details?id=la.opi.verificacionciudadana&hl=es">Here</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    


</body>

</html>
